@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@import 'tailwindcss';

*{
    font-family: "Jersey 10", monospace;
}

@keyframes spinSlow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spinSlow 6s linear infinite;
}